<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{{.BlogName}}</title>
	<link rel="stylesheet" href="/static/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Share+Tech+Mono" rel="stylesheet">

	<link rel="shortcut icon" href="/static/favicon/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	<link rel="manifest" href="/static/manifest.json">
	<meta name="msapplication-TileColor" content="#f1f1f1">
	<meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
	<meta name="theme-color" content="#f1f1f1">


</head>
<body>

<header>
  <a id="logo" href="/">{{.BlogName}}</a>
	<nav>
		<a href="/archive">Archive</a>
		<a href="/static/about.html">About</a>
 	</nav>
</header>

{{.Data}}


{{if .Comments}}
<link rel="stylesheet" href="/static/gosocial_comment.css">


<div id="GoSocial_CommentConateiner">
  <div id="GoSocial_SubmitForm">
    Name
    <input id="GoSocial_SubmitForm_Name"></intput>
    Title
    <input id="GoSocial_SubmitForm_Title"></intput>
    Comment
    <textarea id="GoSocial_SubmitForm_Text"></textarea>
    <button id="GoSocial_SubmitForm_Send">SEND</button>
  </div>
  <div id="GoSocial_Comments"></div>
</div>
{{end}}

{{.Rendertime}}


<footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
	integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=
	sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f
	sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
	crossorigin="anonymous"></script>
	{{if .Comments}}
		<script src="/static/gosocial_comment.js" async></script>
	{{end}}



	<a href="/static/impressum.html">Impressum</a>
	<a href="/static/datenschutz.html">Datenschutz</a>
</body>
</html>
