<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Your Website</title>
	<link rel="stylesheet" href="https://cdn.rawgit.com/i5heu/BASIC-CSS-templates/ff5043d4f916c9a6ae3e13ea2d6eecec5eca4cf2/multitower/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Share+Tech+Mono" rel="stylesheet">

</head>
<body>

<header>
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9c/AB-ende-blau.svg/150px-AB-ende-blau.svg.png">
  <a id="logo" href="/">Blog_CANNON!!!</a>
	<nav> <a href="/link1.html">Link1</a> <a href="/link1.html">Link1</a> <a href="/link1.html">Link1</a> <a href="/link1.html">Link1</a> <a href="/link1.html">Link1</a> </nav>
</header>
<p style="color:#fff; font-size:120; background:#000;"> ${{.Title}}</p>

{{if .Login}}
<h1>Lorem ipsum</h1>
<form action="/newentry" method="post"> <textarea type="text" name="Name"> </textarea> <button type="submit">SEND</button></form>
{{end}}


<h3>{{.Title2}}</h3>
<br>
{{range $.Title4}}
<article>
{{.}}...<br>
</article>
<hr>
{{end}}
<br>
{{range $.Inventarlist}}
    <a href="/view/{{.}}">{{.}}</a><br>
{{end}}


{{.Inventarlist}}



<script language="JavaScript">
expireAt = new Date;
expireAt.setMonth(expireAt.getMonth() + 1);
password = "";

function makeCookie()
{
password = document.passform.password.value
document.cookie = "pwd=" + password + ";expires=" + expireAt.toGMTString()
}

</script>

<form name="passform">
<P>Password: <input type="text" name="password"><br>
<a href="/" onclick="makeCookie()">continue ...</a></p>
</form>

</article>

<footer>
	<a href="/">Foo</a>
</footer>

</body>
</html>
