
#GoSocial_SubmitForm{
  width: auto;
  margin:0;
  padding:5px;
}

#GoSocial_SubmitForm input {
  display: block;
  border: none;
  background: #eee;
  border-radius: 3px;
  padding:4px;
  width: 100%;
  box-sizing : border-box;
}

#GoSocial_SubmitForm textarea {
  display: block;
  margin-bottom: 5px;
  border: none;
  background: #eee;
  border-radius: 3px;
  padding:4px;
  width: 100%;
  min-height: 100px;
  box-sizing : border-box;
}

.GoSocial_Comment{
  margin:5px;
  margin-bottom: 15px;
  border-left:  1px solid black;
}
.GoSocial_Title{
  font-size: 130%;
  font-family: monospace;
  background: #eee;
}

.GoSocial_Name{
  font-size: 80%;
  font-family: monospace;
  background: #484848;
  color:#fff;
}

.GoSocial_Text{
  margin-top: 10px;

}
