/* share-tech-mono-regular - latin */
@font-face {
  font-family: 'Share Tech Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/share-tech-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Share Tech Mono'), local('ShareTechMono-Regular'),
       url('../static/fonts/share-tech-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../static/fonts/share-tech-mono-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../static/fonts/share-tech-mono-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../static/fonts/share-tech-mono-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../static/fonts/share-tech-mono-v7-latin-regular.svg#ShareTechMono') format('svg'); /* Legacy iOS */
}


html { background:#f1f1f1; }

body{
  background:#fff;
  max-width:600px;
  margin:20px auto 0 auto;
  padding:0 0 0 0;
  border-radius:5px;}

img, video {
  max-width:100%;
  max-height:90vh;
  margin:5px auto 5px auto;
  display: block;}

pre{
  background:#191919;
  color:#0f0;
  padding:5px 5px 5px 8px;
  white-space: pre-wrap;}

#logo, #logo a{
  background:#333;
  color:#fff;
  display:block;
  padding:13px 0 13px 0;
  margin:0 0 0 0;
  font-size:2em;
  text-align: center;
  font-family:monospace;
  font-weight:bold;
  text-decoration:none;}

nav{
  background:#484848;
  color:#fff;
  display:block;
  display:flex;
  flex-wrap:wrap;
  padding:0 3px 0 3px;}
nav a{
  flex:1;
  color:#fff;
  text-decoration:none;
  text-align:center;
  padding:10px 9px 10px 9px;
  text-transform: uppercase;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-weight:bold;
  font-size:13px;}
nav a:hover{background:#333; transition: all 0.8s ease;}

article {
  margin:70px 0 90px 0;
  padding: 0 40px 0 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;}
@media screen and (max-width: 540px) { article{padding:5px;}}

h1{
  font-family: 'Share Tech Mono', monospace;
  padding-left:13px;
  font-size:175%;
  border-left:1px solid black;}

.ButtonRed{
  background: red;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  outline:0;
}

.ButtonPending{
  background: #960000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  outline:0;
}

.ButtonGreen{
  background: green;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  outline:0;
}

.FooterTexter{
  padding-top: 20px;
  font-family: monospace;
  font-weight: lighter;
  text-transform: none;
}

.FooterTexter a{
  padding-top: 20px;
  font-family: monospace;
  font-weight: lighter;
  text-transform: none;
  text-decoration: underline;
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
}

#ArticleDIV{
  margin-top: 10px;
  margin-bottom: 20px;
  border: 1px solid black;
}

#QualityArticle{
  font-size: 120%;
  padding-bottom: 5px;
}

.QualityArticleList{
  padding-left: 5px;
}

footer, footer a{
  min-height:100px;
  color:#fff;
  margin-top:100px;
  padding:15px;
  background:#424242;
  text-align:center;
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  font-weight:bold;
  text-transform: uppercase;
  text-decoration:none;}
